<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="Home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="message">
      <ion-icon name="chatbubbles"></ion-icon>
      Message
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>
    <ion-tab-button tab="blank">
      <ion-icon name="apps"></ion-icon>
      Blank
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>